body {
    margin: 1vh 25vh;
    font-family: 'Montserrat', sans-serif;

}

header, nav, aside, footer {
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-style: solid;
    border-color: #FEFEFE;
}

header, nav, aside, footer {
    color: #FEFEFE;
}

header {
    height: 20vh;
    align-items: center;
    background: #2B3D68;
    font-size: x-large;
}

nav {
    height: 10vh;
    background: #2B5C69;
    color: #FEFEFE;
    /* text-align: justify; */
}

article {
    width: 100vh;
    height: 60vh;
    float:left;
}

aside {
    width: fit-content;
    height: 60vh;
    background: #372B69;
}

footer {
    width: 100%;
    height: 10vh;
    background: #2B3D68;

    position:sticky;
    left: 0;
    bottom: 0;

    color: white;
    text-align: center
}

.navLink {
    color: #FEFEFE;
}
